<!----------------------------TOP NAVBAR-------------------------------->

<nav class="navbar navbar-expand-lg" style="background-color: #364073; height: 100px;">
    <img
      src="../../../assets/images/logo1.png"
      style="height: 100px; width: 100px"
    />
    <h3 style="color: white; margin-left: 20px;">TELANGANA STATE</h3>
    <div class="police"><h3>&nbsp;POLICE</h3></div>
    <div class="caption"><h6>DUTY HONOUR COMPASSION</h6></div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.telangana.gov.in/contacts/district-officials">
            <span class="badge" style="background-color: #750707;">TS</span>  Police Directory</a>
        </li>
        <li class="nav-item">
          <div class="dropdown show">
            <a class="btn dropdown-toggle" style="color: white; font-size: 20px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="badge" style="background-color: #750707;">SHO</span>  KPHB
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" (click)="myProfile()">PS Profile</a>
              <a class="dropdown-item" (click)="myProfile()">My Profile</a>
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
  
