<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/images/logo1.png" style="height: 55px; width: 65px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="../home/"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../view-staff-details/"><b>My Staff</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../other-staff/" 
                style="background-color: #24a0ed; color:white; border-radius: 5px;"><b>Out Staff</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../create-bundobust/"><b>Create Bundobust</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../events/"><b>Events</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../alerts/"><b>Alerts</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../mailbox/"><b>Mailbox</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../reports/"><b>Reports</b></a>
            </li>            
        </ul>
    </div>
</nav> -->


<div class="sidenav bg-light">
    <a href="../../circle1/" class="personal pt-3">Within Circle</a>
    <a href="../../sdpo1/">Within SDPO</a>
    <a href="../../district1/">Within District</a>
    <a href="../../state1/">Within State</a>
    <a href="../../other-department1/">Other Deparments</a>
</div>




