<nav class="navbar navbar-expand-lg" style="background-color: #364073; height: 100px;">
  <img
    src="../../../assets/images/logo1.png"
    style="height: 100px; width: 100px"
  />
  <h3 style="color: white; margin-left: 20px;">TELANGANA STATE</h3>
  <div class="police"><h3>&nbsp;POLICE</h3></div>
  <div class="caption"><h6>DUTY HONOUR COMPASSION</h6></div>
  <span style="margin-left: 300px; color: white;">Profile</span>
</nav>


<section class="main">
  <br /><br />
  <div class="container pt-3">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img
            class="border border-light ml-4"
            src="../../assets/images/policeimages.jpg"
            style="height: 200px; width: 250px"
          />
        </div>
        <div
          class="col-md-8"
          style="background-color: #e3e1de; margin-left: -40px"
        >
          <div class="row pt-3">
            <div class="col-md-3"><b>Name</b></div>
            <div class="col-md-3">Praveen Kumar</div>
            <div class="col-md-3"><b>Commissionerate</b></div>
            <div class="col-md-3">Cyberabad</div>
          </div>
          <div class="row pt-2">
            <div class="col-md-3"><b>ID/General No</b></div>
            <div class="col-md-3">27166626</div>
            <div class="col-md-3"><b>Zone</b></div>
            <div class="col-md-3">Madhapur</div>
          </div>
          <div class="row pt-2">
            <div class="col-md-3"><b>Rank</b></div>
            <div class="col-md-3">SI</div>
            <div class="col-md-3"><b>Division</b></div>
            <div class="col-md-3">Kukatpally</div>
          </div>
          <div class="row pt-2">
            <div class="col-md-3"><b>Mobile Number</b></div>
            <div class="col-md-3">9490318923</div>
            <div class="col-md-3"><b>Circle</b></div>
            <div class="col-md-3">NA</div>
          </div>
          <div class="row pt-2">
            <div class="col-md-3"><b>Department</b></div>
            <div class="col-md-3">CID</div>
            <div class="col-md-3"><b>Police Station</b></div>
            <div class="col-md-3">KPHB</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Personal Skills</h3>
        <div class="card" style="width: 538px">
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>L & O Skills</b></p>
            </div>
            <div class="col-md-6">
              <p>Crime Prevention/Detection, SB & Intelligence</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Professional Skills</b></p>
            </div>
            <div class="col-md-6">
              <p>First Aid, Computers</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Public Personal Relation</b></p>
            </div>
            <div class="col-md-4">
              <p>Normal</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Fluency in English</b></p>
            </div>
            <div class="col-md-4">
              <p>Yes</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Languages Known</b></p>
            </div>
            <div class="col-md-4">
              <p>Telugu, English, Hindi</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Banking Details</h3>
        <div class="card" style="width: 538">
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b> Bank A/c Holder Namer</b></p>
            </div>
            <div class="col-md-6">
              <p>Praveen Kumar</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b> A/C Number</b></p>
            </div>
            <div class="col-md-6">
              <p>201364450589849</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Bank Name</b></p>
            </div>
            <div class="col-md-4">
              <p>SBI</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Branch Name</b></p>
            </div>
            <div class="col-md-4">
              <p>Jeedimetla</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>IFSC Code</b></p>
            </div>
            <div class="col-md-4">
              <p>SBI003245</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Temporary Address</h3>
        <div class="card" style="width: 538px">
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Address Line</b></p>
            </div>
            <div class="col-md-6">
              <p>Flat No : 203, Sri Sai Nilayam</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Street/Colony Name</b></p>
            </div>
            <div class="col-md-6">
              <p>KPHB</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>City/Village/Town</b></p>
            </div>
            <div class="col-md-4">
              <p>Kukatpally</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>District</b></p>
            </div>
            <div class="col-md-4">
              <p>Hyderabad</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Pincode</b></p>
            </div>
            <div class="col-md-4">
              <p>500056</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>State</b></p>
            </div>
            <div class="col-md-4">
              <p>Telangana</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Permanant Address</h3>
        <div class="card" style="width: 538">
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Address Line</b></p>
            </div>
            <div class="col-md-6">
              <p>Flat No : 203, Sri Sai Nilayam</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Street/Colony Name</b></p>
            </div>
            <div class="col-md-6">
              <p>KPHB</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>City/Village/Town</b></p>
            </div>
            <div class="col-md-4">
              <p>Kukatpally</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>District</b></p>
            </div>
            <div class="col-md-4">
              <p>Hyderabad</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Pincode</b></p>
            </div>
            <div class="col-md-4">
              <p>500056</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>State</b></p>
            </div>
            <div class="col-md-4">
              <p>Telangana</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Health Profile</h3>
        <div class="card" style="width: 538">
          <div class="row pt-2 pl-4"></div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Under Medication</b></p>
            </div>
            <div class="col-md-6">
              <p>Yes</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Type Of Medication</b></p>
            </div>
            <div class="col-md-4">
              <p>Diabetic</p>
            </div>
          </div>
          <div class="row pt-2 pl-4">
            <div class="col-md-6">
              <p><b>Reason</b></p>
            </div>
            <div class="col-md-4">
              <p>Hereditery</p>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br />
    </div>
    <br />
    <button
      type="btn"
      class="btn"
      style="margin-left: 500px"
      (click)="onClick()"
    >
      <b>Edit</b>
    </button>
    <button type="btn" class="btn" style="margin-left: 50px">
      <b>Delete</b>
    </button>
  </div>
  <br /><br />
</section>

<!-- <div class="container">
    <div class="card" style="width: 400px;">
        <h2>Profile</h2>
        <div class="card-body">
            <span>
                <img class="image ml-4" src="../../assets/images/imagespol.png">
            </span>
            <div class="row">
                <div class="form-check form-check-inline">
                    <label class="form-check-label pl-5" for="inlineCheckbox2">Name</label>
                    <label class="form-check-label pl-5" for="inlineCheckbox2">Praveen Kumar</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <label class="form-check-label pl-5" for="inlineCheckbox2">Designation</label>
                    <label class="form-check-label pl-5" for="inlineCheckbox2">Dy. Commissioner of police</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <label class="form-check-label pl-5" for="inlineCheckbox2">Email</label>
                    <label class="form-check-label pl-5" for="inlineCheckbox2">dcp-bnr-cyb@tspolice.gov.in</label>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-lg-4 fixed">
        <div class="container">
            <div class="card" style="width: 400px;">
                <h2>Profile</h2>
                <div class="card-body">
                    <span>
                        <img class="image ml-4" src="../../assets/images/imagespol.png">
                    </span>
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label pl-5" for="inlineCheckbox2">Name</label>
                            <label class="form-check-label pl-5" for="inlineCheckbox2">Praveen Kumar</label>
                        </div>
                    </div>
                <div class="row">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label pl-5" for="inlineCheckbox2">Designation</label>
                        <label class="form-check-label pl-5" for="inlineCheckbox2">Dy. Commissioner of police</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label pl-5" for="inlineCheckbox2">Email</label>
                        <label class="form-check-label pl-5" for="inlineCheckbox2">dcp-bnr-cyb@tspolice.gov.in</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 scrollit">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 538px;">
                        <h3>Personal Skills</h3>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Personal Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Public Personal Relation</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Languages Known</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: 538px;">
                        <h3>Posting Information</h3>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Personal Skills</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Public Personal Relation</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Languages Known</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 538;">
                        <h3>Banking Details</h3>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Personal Skills</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Public Personal Relation</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Languages Known</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: 538;">
                        <h3>Address for correspondence</h3>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Personal Skills</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Public Personal Relation</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Languages Known</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<br /><br />
<!-- <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 538;">
                        <h3>Health Profile</h3>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>L & O Skills</p>
                            </div>
                            <div class="col-md-6">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Personal Skills</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Public Personal Relation</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-md-6">
                                <p>Languages Known</p>
                            </div>
                            <div class="col-md-4">
                                <p>data</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div><br>
            <button type="btn" class="btn btn-outline-primary" style="margin-left: 500px;"><b>Print</b></button>
            <button type="btn" class="btn btn-info" style="margin-left: 50px;" (click)="onClick()"><b>Okay</b></button>
        </div>
        <br><br>
    </div>
</div>     -->
