<section class="main">
    <div class="container pt-5">
        <div class="card">
            <form>
                <h1 class="text-center pt-3"><b>DUTY PASSPORT</b></h1>
                <hr>
                <div class="row pt-2">
                    <div class="form-group col-md-6">
                        <label for="">PS</label>
                        <select class="form-control">
                            <option value="">Select..</option>
                            <option>Balanagar</option>
                            <option>Jeedimetla</option>
                            <option>Sanathnagar</option>
                            <option>Dundigal</option>
                            <option>Alwal</option>
                            <option>Petbasherabad</option>
                            <option>Shameerpet</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Circle</label>
                        <select class="form-control">
                            <option value="">Select..</option>
                            <option>Dundigal</option>
                            <option>Alwal</option>
                            <option>Petbasherabad</option>
                            <option>Shameerpet</option>
                            <option>Balanagar</option>
                            <option>Jeedimetla</option>
                            <option>Sanathnagar</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">SDPO</label>
                        <select class="form-control">
                            <option value="">Select..</option>
                            <option>Balanagar</option>
                            <option>Madhapur</option>
                            <option>Petbasherabad</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">District</label>
                        <select class="form-control">
                            <option value="">Select..</option>
                            <option>Cyberabad</option>
                            <option>Hyderabad</option>
                            <option>Medchal</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">Nature Of Duty</label>
                        <select class="form-control">
                            <option value="">Select..</option>
                            <option>Patrolling</option>
                            <option>Picket</option>
                            <option>Road Bundobust</option>
                            <option>Roof Top</option>
                            <option>Pushing Party</option>
                            <option>Rope Party</option>
                            <option>Striking Force</option>
                            <option>Place of Event Bundobust</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Place Of Duty</label>
                       <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Sector</label>
                    <input type="text" class="form-control">
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Journal No:</label>
                        <input type="text" class="form-control" id="journal">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Mobile NUmber:</label>
                        <input type="text" class="form-control" id="mobilenumber">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="">Shifts 1</label>
                        <input type="text" class="form-control" id="shifts1">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Shifts 2</label>
                        <input type="text" class="form-control" id="shifts2">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Shifts 3</label>
                        <input type="text" class="form-control" id="shifts3">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="">In-Charge Officer</label>
                        <input type="text" class="form-control" id="officer">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Rank</label>
                        <input type="text" class="form-control" id="rank">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Mobile No</label>
                        <input type="text" class="form-control" id="mobileno">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="">In-Charge Senior Officer</label>
                        <input type="text" class="form-control" id="seniorofficer">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Rank</label>
                        <input type="text" class="form-control" id="rank1">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Mobile No</label>
                        <input type="text" class="form-control" id="mobileno1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Emergency Contact Number:</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SNO</th>
                                    <th>DEPARTMENT</th>
                                    <th>I/C Officer</th>
                                    <th>Mobile/Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Police Control</td>
                                    <td></td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Fire</td>
                                    <td></td>
                                    <td>101</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Medical</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Revenue</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>NDRF</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>R&D</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Crane I/C</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Electricity</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Other</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label for="">General Instructions:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <span>
                    <button type="submit" class="btn btn-outline-info float-right mb-4 mt-2"
                        (click)="submit()">Submit</button>
                    <button type="reset" class="btn btn-outline-info float-right mb-4 mt-2 mr-4"
                        >Reset</button>
                </span>
            </form>
        </div>
    </div><br><br><br>
</section>