.navbar{
  background-image: linear-gradient(to bottom right, white, #F0F0F0);
}
.sidenav {
  margin-top: 160px;
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  padding-bottom: 25px;  
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

.sidenav a:hover {
  color: #24a0ed;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.card{
  width: 650px;
  height: 225px;
  background-color: #818181;
  margin: 0 auto; 
  float: none; 
  margin-top: 200px;
}

button{
  width: 130px;
  height: 50px;
  margin-left: 260px;
}

h3{
  color: white;
}

p{
  color: white;
}