<app-header></app-header>

<div class="sidenav">
    <a href="../../posting/" class="pt-5">Posting Information</a>
    <a href="../../personal/">Personal Skills</a>
    <a href="../../personal/">Image</a>
    <a href="../../banking/">Banking Details</a>
    <a href="../../address/">Address for correspondence</a>
    <a href="../../health/">Health Profile</a>
    <a href="../../publish/">Preview Details</a>
</div>

<div class="main">
    <!-- <h1 class="text-center pt-4 pb-5"><b>Create Account</b></h1> -->
    <div class="card">
        <h3 class="pl-4 mt-4">Welcome To Telangana State Police Bundobust</h3>
        <p class="text-center mt-1">To Create Account</p>
        <button type="button" class="btn btn-info mt-2" (click)="onclick()">Click Here</button>
    </div>
</div>