<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/images/logo1.png" style="height: 55px; width: 65px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="../home/"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../view-staff-details/"><b>My Staff</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../circle1/"><b>Out Staff</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../events/"><b>Events</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../alerts/"><b>Alerts</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../mailbox/"><b>Mailbox</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../reports/"><b>Reports</b></a>
            </li>
        </ul>
    </div>
</nav>

<section class="main">
    <div class="card mt-5" style="height: auto;padding:20px;">
        <h1 class="text-center"><b>Create Bundobust</b></h1>
        <hr>
        <form class="pl-1">
            <div class="row pt-4">
                <div class="col-md-4 pt-1"><b>Name of Event*</b></div>
                <div class="col-md-1">:</div>
                <div class="form-group col-md-7">
                    <input type="text" class="form-control" formControlName="name" id="name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-1"><b>District *</b></div>
                <div class="col-md-1">:</div>
                <div class=" form-group col-md-7">
                    <select id="" class="form-control">
                        <option selected>Select..</option>
                        <option>Cyberabad</option>
                        <option>Hyderabad</option>
                        <option>Medchal</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-1"><b>Start Date *</b></div>
                <div class="col-md-1">:</div>
                <div class="form-group col-md-7">
                    <input type="date" id="startDate" class="form-control" formControlName="startDate" name="startDate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-1"><b>End Date *</b></div>
                <div class="col-md-1">:</div>
                <div class="form-group col-md-7">
                    <input type="date" id="endDate" class="form-control" formControlName="endDate" name="endDate">
                </div>
            </div>
            <hr>
            <span>
                <button type="button" class="btn btn-primary mt-3 mb-3" style="margin-left: 300px;">Back</button>
                <button type="button" class="btn btn-outline-primary ml-3" data-toggle="modal" data-target="#submit" (click)="onSubmit()">Submit</button>
            </span>
        </form>
    </div>
</section>

<!-- <div class="modal fade" id="submit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Created Bundobust</h4>
            </div>
            <div class="modal-body text-success">
                <b>Event has been created successfully</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">okay</button>
            </div>
        </div>
    </div>
</div> -->