<div class="sidenav">
    <a href="../../posting/" class="pt-5">Posting Information</a>
    <a href="../../personal/">Personal Skills</a>
    <a href="../../banking/"
    style="background-color: #24a0ed; color:white;">Banking Details</a>
    <a href="../../address/">Address for correspondence</a>
    <a href="../../health/">Health Profile</a>
    <a href="../../publish/">Publish Details</a>
</div>

<span>
    
</span>
<div class="main">
    <div class="card w3-animate-zoom">
        <h1 class="text-center"><b>Bank Details</b></h1>
        <hr>
        <form>
            <div class="form-group">
                <label for="holdername">Bank A/C Holder Name</label>
                <input type="holdername" class="form-control form-control-lg" id="holdername">
            </div>
            <div class="form-group">
                <label for="accountnumber">Account Number</label>
                <input type="accountnumber" class="form-control form-control-lg" id="accountnumber">
            </div>
            <div class="form-group">
                <label for="bankname">Bank Name</label>
                <select class="form-control form-control-lg">
                    <option value="">Select..</option>
                </select>
            </div>
            <div class="form-group">
                <label for="branchname">Branch Name</label>
                <select class="form-control form-control-lg">
                    <option value="">Select..</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ifsc">IFSC Code</label>
                <select class="form-control form-control-lg">
                    <option value="">Select..</option>
                </select>
            </div>
            <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="mobileNumber" class="form-control form-control-lg" id="mobileNumber">
            </div>
        </form>
        <span>
            <button type="button" class="btn btn-light" style="margin-left: 130px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info ml-5" (click)="next()">Next</button>
        </span>
    </div>
</div>