<div class="sidenav">
    <a href="../circle/" class="personal pt-5">Within Circle</a>
    <a href="../sdpo/"
    style="background-color: #24a0ed; color:white;">Within SDPO</a>
    <a href="../district/">Within District</a>
    <a href="../state/">Within State</a>
    <a href="../other-deparments/">Other Departments</a>
    <a href="../publish-details/">Preview Details</a>
</div>

<span>
    <h1 class="text-center pt-2">Deploy Staff</h1>
</span>
<div class="container-fluid">
    <table class="table text-center">
        <thead>
            <tr class="element">
                <th>SNO</th>
                <th>Event Id</th>
                <th>Event Name</th>
                <th>District</th>
                <th>SDPO</th>
                <th>Circle</th>
                <th>Police Station</th>
                <th>Force Size</th>
                <th>Start Date</th>
                <th>End Date</th>

            </tr>
        </thead>
        <tbody>
            <tr class="dot">
                <td>1</td>
                <td>TS0125</td>
                <td>Ganesh Bandobast</td>
                <td>Ranga Reddy</td>
                <td>SDPO1</td>
                <td>Circle1</td>
                <td>Kukatpally</td>
                <td>20</td>
                <td>01-7-2020</td>
                <td>15-07-2020</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <!-- <h4 class="header mt-5"><b>Circle</b></h4> -->
        <table class="table text-center">
            <thead>
                <tr class="element">
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                    <th>Assign Duty</th>
                </tr>
            </thead>
            <tbody>
                <tr class="dot">
                    <td>1</td>
                    <td>Pidugu Ravi Krishna</td>
                    <td>53987</td>
                    <td>Inspector</td>
                    <td>Cyberabad</td>
                    <td>Madhapur</td>
                    <td>KPHB</td>
                    <td>KPHB</td>
                    <td>9963586087</td>
                    <th><button type="button" class="btn btn-info">Duty Ticket</button></th>
                </tr>
                <tr class="dot">
                    <td>2</td>
                    <td>Malle Venkatesh</td>
                    <td>84759</td>
                    <td>SI</td>
                    <td>Cyberabad</td>
                    <td>Madhapur</td>
                    <td>KPHB</td>
                    <td>KPHB</td>
                    <td>9346527635</td>
                    <th><button type="button" class="btn btn-info">Duty Ticket</button></th>
                </tr>
                <tr class="dot">
                    <td>3</td>
                    <td>Nune Raja Mahendra Reddy</td>
                    <td>76940</td>
                    <td>SI</td>
                    <td>Cyberabad</td>
                    <td>Madhapur</td>
                    <td>KPHB</td>
                    <td>KPHB</td>
                    <td>7207285480</td>
                    <th><button type="button" class="btn btn-info">Duty Ticket</button></th>
                </tr>
                <tr class="dot">
                    <td>4</td>
                    <td>Karnati Prabhu</td>
                    <td>84635</td>
                    <td>ASI</td>
                    <td>Cyberabad</td>
                    <td>Madhapur</td>
                    <td>KPHB</td>
                    <td>KPHB</td>
                    <td>8500397712</td>
                    <th><button type="button" class="btn btn-info">Duty Ticket</button></th>
                </tr>
                <tr class="dot">
                    <td>5</td>
                    <td>Miryala Vamshi Krishna</td>
                    <td>86473</td>
                    <td>HC</td>
                    <td>Cyberabad</td>
                    <td>Madhapur</td>
                    <td>KPHB</td>
                    <td>KPHB</td>
                    <td>9705708526</td>
                    <th><button type="button" class="btn btn-info">Duty Ticket</button></th>
                </tr>
            </tbody>
        </table>
    </div>
    <span>
        <button type="button" class="btn btn-light mt-5 mr-5" style="margin-left: 450px;" (click)="back()">Back</button>
        <button type="button" class="btn btn-info mt-5" (click)="next()">Next</button>
    </span>
</div>