.sidenav {
  margin-top: 160px;
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  margin-top: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  padding-bottom: 25px;  
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

.sidenav a:hover {
  color: #24a0ed;
}

.card{
    box-shadow: 0 6px 12px 0 rgba(255, 252, 252, 0.912), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    width: 450px;
    margin-top: 50px;
}

.main {
  margin-left: 260px; 
  font-size: 28px; 
  /* padding: 0px 10px; */
  /* margin-top: 100px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

label{
  margin-top: 25px;
}

button{
  font-size: 20px;
  border-radius: 10px;
}