<div class="sidenav">
  <a href="../../posting/" class="pt-5">Posting Information</a>
  <a href="../../personal/">Personal Skills</a>
  <a href="../../banking/">Banking Details</a>
  <a href="../../address/">Address for correspondence</a>
  <a href="../../health/">Health Profile</a>
  <a href="../../publish/" style="background-color: #24a0ed; color: white"
    >Publish Details</a
  >
</div>

<div class="container" style="margin-left: 600px; margin-top: 100px">
  <button type="submit" class="btn btn-info" (click)="onClick()">Submit</button>
</div>
