<div class="sidenav">
    <a href="../circle/" class="personal pt-5">Within Circle</a>
    <a href="../sdpo/">Within SDPO</a>
    <a href="../district/">Within District</a>
    <a href="../state/">Within State</a>
    <a href="../other-deparments/"
    style="background-color: #24a0ed; color:white;">Other Departments</a>
    <a href="../publish-details/">Preview Details</a>
</div>

<h1 class="text-center pt-3" >Coming Soon..</h1>
<button type="button" class="btn btn-info" style="margin-left: 900px;" (click)="onClick()">Next</button>