<section class="main">
    <h1 class="text-center pt-2">Request Staff</h1>
    <div class="container">
        <table class="table text-center">
            <thead>
                <tr class="element">
                    <th>Event Id</th>
                    <th>Event Name</th>
                    <th>District</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr class="dot">
                    <td>TS0125</td>
                    <td>Ganesh Bandobast</td>
                    <td>Ranga Reddy</td>
                    <td>01-7-2020</td>
                    <td>15-07-2020</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" style="margin-left: 500px;">
        <div class="row">
            <h2 class="mr-5">To : Praveen Kumar</h2> <br>
            <div class="col-md-3">
                <label for="district"><b>District/Commissionerate</b> </label>
                <select id="" class="form-control form-control-lg">
                    <option selected>Select..</option>
                    <option>District</option>
                    <option>Commissionerate</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="district"><b>District</b> </label>
                <select id="" class="form-control form-control-lg">
                    <option selected>Select..</option>
                    <option>Cyberabad</option>
                    <option>Hyderabad</option>
                    <option>Medchal</option>
                </select>
            </div>
            <!-- <div class="col-md-3">
                <label for=""> <b>SDPO</b> </label>
                <select id="" class="form-control form-control-lg">
                    <option selected>Select..</option>
                    <option>Madhapur</option>
                    <option>Balanagar</option>
                    <option>Punjagutta</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for=""> <b>Circle</b> </label>
                <select id="" class="form-control form-control-lg">
                    <option selected>Select..</option>
                    <option>Jeedimetla</option>
                    <option>Balanagar</option>
                    <option>Jagathgiri Gutta</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for=""> <b>Police Station</b> </label>
                <select id="" class="form-control form-control-lg">
                    <option selected>Select..</option>
                    <option>Jeedimetla</option>
                    <option>Balanagar</option>
                    <option>Jagathgiri Gutta</option>
                </select>
            </div> -->
        </div>
    </div>
    <div class="container pt-2">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Request to Allocate</h2>
                <hr>
                <form class="pt-3">
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>Addl.SP</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>DSP</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                     <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>CI</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>SI</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>ASI</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>HC</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>PC</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 ml-2">
                        <div class="col-md-4">
                            <h5>HG</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>WPC</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>WHG</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ml-2 mb-4">
                        <div class="col-md-4">
                            <h5>Armed Sections</h5>
                        </div>
                        <div class="col-md-7">
                            <select id="" class="form-control form-control-lg">
                                <option value="">Select</option>
                                <option value="">...</option>
                            </select>
                        </div>
                    </div>
                </form>
                <hr>
                <button type="button" class="btn btn-primary mr-4 float-right" style="border-radius: 20px; font-size: 16px;"
                    (click)="onSubmit()">Submit</button>
                <button type="button" class="btn btn-primary mr-4 float-right" style=" border-radius: 20px; font-size: 16px;">Reset</button>
            </div>
        </div><br><br>
    </div>
</section>