<div class="sidenav bg-light">
    <a href="../../circle1/" class="personal pt-3">Within Circle</a>
    <a href="../../sdpo1/">Within SDPO</a>
    <a href="../../district1/">Within District</a>
    <a href="../../state1/">Within State</a>
    <a href="../../other-department1/"
    style="background-color: #24a0ed; color:white;">Other Deparments</a>
</div>

<div class="container pt-5">
    <h1>Coming Soon..</h1>
    <span>
        <button type="button" class="btn btn-info mt-5" (click)="onSubmit()">Okay</button>
    </span>
</div>