.navbar .collapse ul{
  position: absolute;
  right: 25px;
}

.navbar .collapse li{
  padding: 20px;
}

.collapse .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 1.4rem;
  font-family: 'Times New Roman', Times, serif;
}

.collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #750707;
  border-radius: 5px;
  color: white;
}

.navbar-nav .collapse ul {
  position: absolute;
  left: 400px;
}

.navbar-nav .collapse li{
  padding: 20px;
}

h2 {
  font-size: 360%;
  font-family: Times New Roman;
  color: #0e212a;
}

button {
  height: 60px;
  width: 180px;
  font-weight: bold;
  border-radius: 50px;
  /* background-color: #364073; */
  color: white;
}

.btn {
  background-color: #750707;
  border-color: #750707;
}

.container-fluid {
  padding: 100px;
  margin-left: 100px;
}

.col-md-8 {
  padding-left: 180px;
  padding-top: 95px;
}
