<app-header></app-header>

<nav class="navbar-nav navbar-expand-lg" style="background-color: #0e212a; height: 60px;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../home/">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../view-staff-details/">My Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../circle1/">External Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../events/">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../alerts/">Alerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../mailbox/"
          style="background-color: #750707; color:white; border-radius: 5px;"
          >Mailbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../reports/">Reports</a>
        </li>
      </ul>
    </div>
  </nav>


<section class="main">
    <div class="container-fluid pt-5 mb-5">
        <span>
            <button type="button" class="btn btn-outline-primary ml-5" style="background-color: #24a0ed; color:white; height: 50px; width: 120px;" (click)="incomingMail()"><h5>Incoming</h5></button>
            <button type="button" class="btn btn-outline-primary ml-5" style="height: 50px; width: 120px;" (click)="outgoingMail()"><h5>Outgoing</h5></button>
            <button type="button" class="btn btn-outline-primary ml-5" style="height: 50px; width: 120px;" (click)="compose()"><h5>Compose</h5></button>
        </span>
    </div>
</section>

<div class="card mr-5" style=" margin-left: 65px;">
    <table class="table table-hover">
        <thead class="thead bg-primary">
          <tr class="d-flex" style="font-size:x-large; color: white;">
            <th class="col-1">Name</th>
            <th class="col-3">Rank</th>
            <th class="col-3">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-3">John</td>
            <td class="col-3">Doe</td>
            <td class="col-3">Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>   
</div>
