.navbar .collapse ul{
    position: absolute;
    right: 25px;
  }
  
  .navbar .collapse li{
    padding: 20px;
  }
  
  .collapse .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .collapse .navbar-nav .nav-item .nav-link:hover {
    background-color: #750707;
    border-radius: 5px;
    color: white;
  }
  
  .navbar-nav .collapse ul {
    position: absolute;
    left: 400px;
  }
  
  .navbar-nav .collapse li{
    padding: 20px;
  }
  


