<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/images/logo1.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../home/"><b>Home</b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../create-bundobust/"><b>Create Bundobust</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../events/"><b>Events</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../view-staff-details/"><b>View Staff Details</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../other-staff/"><b>Other Staff</b></a>
            </li>
        </ul>
    </div>
</nav> -->

<div class="container pt-5"> 
    <h1 class="text-center mt-3 pb-4"><b>Preview</b></h1>
    <div class="table-responsive">
        <h2><b>Bundobust</b></h2>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name of the event</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>
                    <td>
                        <p>Ganesh Bandobast</p>
                    </td>
                    <td>
                        <p>Rangareddy</p>
                    </td>
                    <td>
                        <p>SDPO1</p>
                    </td>
                    <td>
                        <p>Circle1</p>
                    </td>
                    <td>
                        <p>jeedimetla</p>
                    </td>
                    <td>
                        <p>21-09-2020</p>
                    </td>
                    <td>
                        <p>05-10-2020</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <h2 class="header mt-5"><b>Home Staff</b></h2>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>


                    <td>
                        <p>John Cena</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p>
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9996669988</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <h2 class="header mt-5"><b>Out Staff</b></h2>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Name</th>
                    <th>Journal No</th>
                    <th>Rank</th>
                    <th>District</th>
                    <th>SDPO</th>
                    <th>Circle</th>
                    <th>Police Station</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                    </td>


                    <td>
                        <p>John Cena</p>
                    </td>


                    <td>
                        <p>5428756</p>
                    </td>


                    <td>
                        <p>01</p>
                    </td>

                    <td>
                        <p>Rangareddy</p>
                    </td>

                    <td>
                        <p>SDPO1</p>
                    </td>

                    <td>
                        <p>circle1</p>
                    </td>

                    <td>
                        <p>Kukatpally</p>
                    </td>

                    <td>
                        <p>9666977799</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-3 mb-4" style="margin-left: 500px; border-radius: 20px;" data-toggle="modal" data-target="#submit">Submit</button>
</div>

<div class="modal fade" id="submit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Updated Bundobust</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-success">
                <b>Event has been Updated successfully</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" sty>close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClick()">okay</button>
            </div>
        </div>
    </div>
</div>