<nav class="navbar navbar-expand-lg" style="background-color: #364073; height: 100px;">
  <img
    src="../../../assets/images/logo1.png"
    style="height: 100px; width: 100px"
  />
  <h3 style="color: white; margin-left: 20px;">TELANGANA STATE</h3>
  <div class="police"><h3>&nbsp;POLICE</h3></div>
  <div class="caption"><h6>DUTY HONOUR COMPASSION</h6></div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.telangana.gov.in/contacts/district-officials">
          <span class="badge badge-light">TS</span>  Police Directory</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" style="color: white" href="#">Help</a>
      </li>
    </ul>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<section class="main">
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-md-4">
        <div id="banner1">
          <img
            class="bottom"
            src="../../../assets/images/telanganalogo.png"
            width="330"
            height="330"
            alt="TS_Logo"
          />
          <img
            class="top"
            src="../../../assets/images/KCR.cms"
            width="350"
            height="350"
            alt="TS_Logo"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w3-animate-zoom">
          <div class="card-body">
            <img
              src="../../../assets/images/logo1.png"
              class="rounded mx-auto d-block"
              width="50"
              height="50"
              alt="police"
            />
            <br />
            <h4 class="text-center">Sign In To Your Account</h4>
            <hr />
            <form [formGroup]="signinForm">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  formControlName="email"
                  id="email"
                  placeholder="Id No *"
                  [ngClass]="{
                    'is-invalid':
                      signinForm.get('email').touched &&
                      signinForm.get('email').invalid
                  }"
                />
                <div
                  *ngIf="
                    signinForm.get('email').touched &&
                    signinForm.get('email').invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="signinForm.get('email').errors.required"
                    style="color: red"
                  >
                    Email is required
                  </div>
                  <div *ngIf="signinForm.get('email').errors.email">
                    Email must be a valid Name
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  formControlName="password"
                  id="password"
                  placeholder="Password *"
                  [ngClass]="{
                    'is-invalid':
                      signinForm.get('password').touched &&
                      signinForm.get('password').invalid
                  }"
                />
                <div
                  *ngIf="
                    signinForm.get('password').touched &&
                    signinForm.get('password').invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="signinForm.get('password').errors.required"
                    style="color: red"
                  >
                    Password is required
                  </div>
                  <div *ngIf="signinForm.get('password').errors.password">
                    Password must be a valid Name
                  </div>
                </div>
              </div>
              <br /><br />
            </form>
            <div class="text-center">
              <button
                class="btn btn-primary btn-lg"
                [disabled]="!signinForm.valid"
                (click)="signin()"
              >
                SIGN IN
              </button>
              <button class="btn btn-primary btn-lg ml-5" (click)="signup()">
                SIGN UP
              </button>
            </div>
            <h5>
              <a routerLink="" class="text-center pb-3">Forgot your password?</a>
            </h5>
            <br /><br /><br />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="banner2">
          <img
            class="bottom"
            src="../../../assets/images/logo1.png"
            width="380"
            height="380"
            alt="TS_Logo"
          />
          <img
            class="top"
            src="../../../assets/images/DGP.jpg"
            width="350"
            height="350"
            alt="TS_Logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
